name: Container
on: push  

jobs:
  docker-steps:
    runs-on: ubuntu-18.04
    container:
      image: node:10.18.0-jessie
    steps:
      - name: Log node version in container
        run: |
          node -v 
      - name: Step with container
        uses: docker://node:12.14.1-alpine3.10 
        with: 
          entrypoint: '/bin/echo'
          args: 'hello world'
      - name: log node ver in containter
        uses: docker://node:12.14.1-alpine3.10 
        with: 
          entrypoint: '/usr/local/bin/node'
          args: -v
      - uses: actions/checkout@v1
      - name: run script 
        uses: docker://node:12.14.1-alpine3.10 
        with:  
          entrypoint: 'chmod +x ./script.sh; ./script.sh'
          args: 'test'

  # node-docker:
  #   runs-on: ubuntu-18.04
  #   services: 
  #     app:
  #       image: alialaa17/node-api
  #       ports:
  #       - 3001:3000
  #     mongo:
  #       image: mongo
  #       ports:
  #         - 27017:27017
  #   steps: 
  #     - name: Log node version in container
  #       run: |
  #         node -v
  #         cat /etc/os-release
  #       continue-on-error: true
  #     - name: Retrieve users 1
  #       run: curl http://localhost:3001/api/users         
  #     - name: post a user
  #       run: "curl -x POST http://localhost:3001/api/users -H 'Content-type: application/json' -d '{\"username\": \"hello\", \"address\": \"jomama\"}'"
  #     - name: Retrieve users 
  #       run: curl http://localhost:3001/api/users 
  #       if: always()