name: Container
on: push  

jobs:
  node-docker:
    runs-on: ubuntu-18.04
    services: 
      app:
        image: alialaa17/node-api
        ports:
        - 3001:3000
      mongo:
        image: mongo
        ports:
          - 27017:27017
    steps: 
      - name: Log node version in container
        run: |
          node -v
          cat /etc/os-release
        continue-on-error: true
      - name: Retrieve users 1
        run: curl http://localhost:3001/api/users         
      - name: post a user
        run: "curl -x POST http://localhost:3001/api/users -H 'Content-type: application/json' -d '{\"username\": \"hello\", \"address\": \"jomama\"}'"
      - name: Retrieve users 
        run: curl http://localhost:3001/api/users 
        if: always()