name: Env Vare workflow
on: push
env: 
  WF_ENV: Available to all jobs

Jobs:
  log-env: 
  runs-on: ubuntu-18.04
  env: 
    JOB_ENV: Only avalilble to stpes in log-env job
  steps:
    - name: Log ENV Vars
      env: 
        STEP_ENV: only available in step
      run: |
        echo "WF_ENV: ${WF_ENV}"
        echo "WF_ENV: ${JOB_ENV}"
        echo "WF_ENV: ${STEP_ENV}"
    - name: Log step 2
      run: |
        echo "WF_ENV: ${WF_ENV}"
        echo "WF_ENV: ${JOB_ENV}"
        echo "WF_ENV: ${STEP_ENV}"
  log-default-env:
  runs-on: ubuntu-18.04
    steps:
      - name: Default Env Vars  
        run: |
          echo "HOME: ${HOME}"
          echo "GITHUB_WORKFLOW: ${GITHUB_WORKFLOW}"
          echo "GITHUB_ACTION: ${GITHUB_ACTION}"
          echo "GITHUB_ACTIONS: ${GITHUB_ACTIONS}"
          echo "GITHUB_EVENT_NAME: ${HOGITHUB_EVENT_NAMEME}"
          echo "GITHUB_SHA: ${GITHUB_SHA}"
          echo "GITHUB_REF: ${GITHUB_REF}"
          echo "WF_ENV: ${WF_ENV}"
          echo "WF_ENV: ${JOB_ENV}"
          echo "WF_ENV: ${STEP_ENV}"

    