name: Shell commands 

on: [ push, pull_request ]

jobs:
  run-shell-command:
    runs-on: ubuntu-latest
    steps:
      - name: echo a string
        run: echo "hello world"
      -name:   multi line script
        run: |
          node -v
          npm -v
  
